html,body{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    box-sizing: border-box;
    /*font-size: 62.5%;*/
}

/*universal top navigation css*/
nav{
    width: 100%;
    height: 10%;
}
#subjectContainer{
    text-align: center;
}
.subject{
    font-size: 2.3rem;
}
#nextQuestionContainer{
    text-align: center;
}
#nextQ{
    float: none;
    margin: auto;
    background-color: #5cb85c;
    height: 4.2rem;
    width: 9rem;
    display: none;
}
#completedFraction{
    text-align: center;
}
.completionText{
    font-size: 2.3rem;
}


/*universal question and answer styling*/
main{
    width: 100%;
    height: 80%;
}
#questionContainer{
    text-align: center;
}
#question{

}
/*#verical-line{*/
    /*text-align: center;*/
    /*width:3px;*/
    /*height: 100px;*/
    /*border-right: 1px solid black;*/
/*}*/

#answerContainer{
    text-align: center;
}
.btn-true-false{
    margin: 1rem auto;
    display: block;
    width: 12rem;
    height: 9rem;
}
#btn-true{

}
#btn-false{

}